#restart when sync off, checkStatus, Alarm, logging

* * * * * ~/node.operator/scripts/validatorRestart.sh; sleep 3 && python ~/node.operator/monitor/alarm.py; sleep 3 && ~/node.operator/monitor/checkElection.sh
* * * * * ~/node.operator/scripts/myLog.sh && sleep 15 && ~/node.operator/scripts/myLog.sh && sleep 30 && ~/node.operator/scripts/myLog.sh && sleep 45 && ~/node.operator/scripts/myLog.sh

#depool_validator
0 * * * * ~/depools/events.sh && sleep 60 && ~/net.ton.dev/scripts/validator_depool.sh
