#restart when sync off, checkStatus, Alarm

* * * * * ~/node.operator/scripts/validatorRestart.sh; sleep 3 && python ~/node.operator/monitor/alarm.py; sleep 3 && ~/node.operator/monitor/checkElection.sh

depool_validator
0 * * * * ~/depools/events.sh && sleep 60 && ~/*.ton.dev/scripts/validator_depool.sh
